* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #0a0a0a;
    background-image:
        radial-gradient(circle at 20% 20%, #8a2be2 0%, transparent 25%),
        radial-gradient(circle at 80% 80%, #4b0082 0%, transparent 25%);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: orbitPurple 15s linear infinite;
}

@keyframes orbitPurple {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 50%;
    }

    75% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.navbar {

    background-color: #121216;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo {

    background-color: #f5c518;

    padding: 5px;
    border-radius: 4px;
}

.search-container {

    width: 250px;
    border-radius: 20px;
    padding: 8px;
    border: none;
    display: flex;
    align-items: center;
    position: relative;


}

.lista-suspensa {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
    background-color: #0b0d14;
    border: 1px solid #8a2be2;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 999;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.item-resultado {
    display: block;
    padding: 12px 15px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    transition: 0.3s;
    border-bottom: 1px solid #1a1d29;
}

.item-resultado:hover {
    background-color: #8a2be2;
    padding-left: 20px;
}


.campo-pesquisa {

    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 8px;
    outline: none;


}

.imagem {

    margin-right: 8px;
    display: flex;
    align-items: center;

}

.categorias {

    background-color: #201f29;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    gap: 20px;

    a {
        text-decoration: none;
    }

    a:hover {

        border-bottom: 2px solid #f5c518;
        color: #fff !important;
        transition: 0.3s;
        padding-bottom: 10px;

    }




}

.inicio {

    display: flex;
    padding-left: 3%;

}

.filmes {

    display: flex;
    padding-left: 3%;
    padding-right: 3%;


}

.series {

    display: flex;

}

.banner {
    position: relative;
    width: 90%;
    padding-left: 8%;
    margin-top: 15px;

}

.banner img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.banner-info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 10;
    color: white;
    padding-left: 8%;
}

.sobre {
    background-color: #ffcc00;
    color: #000;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    margin-top: 10px;
}

.sobre:hover {
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(255, 204, 0, 0.7);
}

.menu-lancamentos {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 20px;
    background-color: #0b0e14;
    color: white;
    font-family: sans-serif;
    align-items: center;
}

.ativo {
    position: relative;
    color: white;
}

.ativo::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #00bcd4;
}

.lanc {
    padding-top: 110px;
    width: 80%;
    margin-left: 127px;
    overflow-x: auto;
    gap: 20px;
    white-space: nowrap;
    overflow-y: hidden;
    display: block;
    position: relative;

}

.cf {
    width: 160px;
    height: 245px;
    margin-right: 0;
    margin-top: 10px;
    display: inline-block;
    border-radius: 12px;
    object-fit: cover;
}

.inf-filme {
    position: absolute;
    bottom: 0;
    width: 160px;
    padding: 10px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

.inf-filme h3 {
    margin: 0;
    font-size: 14px;
}

.inf-filme p {
    margin: 0;
    font-size: 12px;
    opacity: 0.8;
}

.card {
    position: relative;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    white-space: normal;
}

.inf-filme h3,
.inf-filme p {
    transition: transform 0.4s ease;
}

.card:hover .inf-filme h3,
.card:hover .inf-filme p {
    transform: translateY(-15px);
}


.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #0b0d14;
}

.setas-container {
    display: flex;
    gap: 10px;
}

.seta-btn {
    background: #1a1d29;
    color: white;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
    transition: 0.3s;
}

.seta-btn:hover {
    background: #8a2be2;
}

.lanc::-webkit-scrollbar {
    display: none;
}

.lanc {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu-header {
    position: sticky;
    left: 0;
    z-index: 10;
    background: #0b0d14;
}





@media (max-width: 768px) {

  /* NAVBAR */
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .search-container {
    width: 90%;
  }

  /* CATEGORIAS */
  .categorias {
    justify-content: center;
    gap: 30px;
  }

  .inicio,
  .filmes,
  .series {
    padding: 0;
  }

  /* BANNER */
  .banner {
    width: 100%;
    padding-left: 0;
    height: 40vh;
  }

  .banner img {
    height: 150px;
  }

  .banner-info {
    left: 20px;
    bottom: 20px;
    padding-left: 0;
  }

  .banner-info h1 {
    font-size: 18px;
  }

  .sobre {
    font-size: 14px;
    padding: 8px 16px;
  }

  /* LANÇAMENTOS */
  .lanc {
    width: 100%;
    margin-left: 0;
    padding-top: 40px;
  }

  .menu-header {
    flex-direction: column;
    gap: 10px;

  }

  /* CARDS */
  .card {
    width: 160px;
    margin-right: 8px;
  }

  .cf {
    width: 140px;
    height: 210px;
  }

  .inf-filme {
    width: 140px;
  }

}
